# -------------------
# Python
# -------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# -------------------
# Virtual Environments
# -------------------
.venv/
venv/
env/
ENV/
.venv.bak/

# -------------------
# Poetry
# -------------------
poetry.lock

# -------------------
# Django
# -------------------
*.log
db.sqlite3
media/
staticfiles/

# -------------------
# Frontend (Vite)
# -------------------
node_modules/
dist/
*.lock

# -------------------
# IDE / Editor
# -------------------
.idea/
.vscode/
*.swp

# -------------------
# OS files
# -------------------
.DS_Store
Thumbs.db
